/* GENERAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
}

/* RESPONSIVE MIXINS */
@mixin Desktop {
	@media screen and (min-width: 1024px) {
		@content;
	}
}
